#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  box-sizing: border-box;
}

.logo {
  transition: filter 50ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #646cffaa);
}
