:root {
  font-family: "Albert Sans", Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 450;

  color-scheme: light dark;
  --bg: #EBEBEB;
  --text: #000000;
  --accent: #667BF2;
  --accent-soft: #626c9f;
  --accent-hard: #26357f;
  --nav: #ababbc;
  --bg-2: #c1c1c1;

  --anim-time: .15s;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[data-theme="dark"] {
  --bg: #031212;
  --text: #F2F0EF;
  --accent: #4E5EB9;
  --accent-soft: #333b69;
  --accent-hard: #949ccb;  
  --nav: #202020;
  --bg-2: #080d29;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  box-sizing: border-box;
}
@media (max-width: 900px) {
  #root {padding: 0.5rem;}
}

a {
  font-weight: 600;

  color: var(--text);   
  text-decoration: underline; 
  text-decoration-thickness: 2px;
  text-decoration-color: var(--accent);
}
a:hover {
  color: var(--accent);
}
:root[data-theme="dark"] a[download]::before {content: url(./assets/download-dark.svg)}
:root[data-theme="light"] a[download]::before {content: url(./assets/download-light.svg)}
/* align icon */
a[download]::before {vertical-align: middle; padding-right: 3px;}

.tooltip {
  background: var(--text);
  color: var(--bg);
  padding: 4px 8px;
  font-size: 1rem;
  font-weight: 600;
  z-index: 999
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background: var(--bg);
  color: var(--text);

  padding-top: 48px;    /* Controls offset from NavBar */
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}
h2 {
  font-size: 1.6rem;
  line-height: 1;
  margin: 8px 0px;
}
h3 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1;
}

button {
  display: inline-flex; 
  justify-content: center;
  align-items: center;
    
  border: none;
  outline: 3px solid var(--text);
  outline-offset: -2px;
  transition: outline-color var(--anim-time);
  cursor: pointer;
}
button:hover {
  outline: 3px solid var(--accent);
}


@media (min-width: 1500px) {
  html {font-size: 20px;} /* 16px (default) -> 22px */
}