.page-content {
  padding: 24px;
  max-width: 900px;
  margin: 0 auto;
}

.page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 130px;
}

.subpage-left-align {
  text-align: left;
}