.page-content {
  padding: 24px;
  max-width: 900px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .page-content {padding: 0;}
}
@media (min-width: 1500px) {
  .page-content {max-width: 80%; margin: auto;}
}

.subpage-left-align {
  text-align: left;
}

.narrow-content {
  width: 75%;
  margin: 0 auto;
}

.page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 130px;
}