/* Layout */
.nav-wrap { 
  width: 100%; 
  position: fixed;
  top: 00px; left: 0; right: 0;
  z-index: 1000;
  background: var(--bg);
}
.nav-small, .nav-large { display: none; }
@media (max-width: 900px) { .nav-small { display: flex; } }
@media (max-width: 900px) {}
@media (min-width: 900px) { .nav-large { display: flex; } }

/* Shared */
.nav-small, .nav-large {
  height: 64px;
  margin: 25px 10px 15px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  gap: 36px;
}

/* Left controls (Large) */
.n-left { flex: 0 0 auto; display: flex; align-items: center; }
.n-pill {
  gap: 15px;
  padding: 4px 22px; 
  border: 2px solid var(--text); 
  border-radius: 999px; 
  background: var(--nav);
}
.pill-divider { width: 1px; height: 24px; background: var(--text); opacity: 0.4; }

/* Right controls (large) */
.n-right { margin-left: auto; display: flex; align-items: center;}


/* Prevent flex shrink on all fixed-size items */
.logo-image, .pill-logo, .theme-toggle, .hamburger, .profile, .login-btn { flex: 0 0 auto; }

/* LOGO */
.logo-image {
  width: 200px;
  height: auto;
  object-fit: contain;
}

/* HEADING LINKS */
.headings { display: flex; gap: 20px; justify-content: center; }
.heading { 
  font-weight: 600; 
  font-size: 18px; 
}
.heading.active { color: var(--accent); }


/* fancy gradient overlay */
.nav-wrap::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 25px; /* how tall the fade is */
  pointer-events: none; /* let clicks pass through */

  background: linear-gradient(
    to bottom,
    var(--bg),  /* start with slight shadow */
    rgba(0, 0, 0, 0)     /* fade out */
  );
}