.annotation {
  cursor: help;
  margin: 0em 0.1em 0em 0.1em;
  padding: 0.2em;
  box-shadow: 0 -3em rgba(255,255,255,0.8) inset, 0 -3em var(--accent) inset;
}
:root[data-theme="dark"] .annotation {
  box-shadow: 0 -3em rgba(0, 0, 0, 0.5) inset, 0 -3em var(--accent) inset;
}

.annotation-icon {color: var(--accent-hard); font-weight: 900;}

.note-is-visible::after {
  content: ']';
  color: var(--accent-hard);
  font-weight: 500;
}
.note-is-visible::before {
  content: '[';
  color: var(--accent-hard);
  font-weight: 500;
}

.note-is-visible {display: inline; margin-left: 0.5em;}
.note-is-hidden {display: none;} 