.week-note {
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 24px;
  border: 2px solid var(--text); 
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}


.week-note-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: baseline;
}
.week-note-links a {margin-right: 15px;}
.week-note-title {font-size: 1.5rem; margin: 0;}
.week-note-body {margin-top: 20px;}

/* On small screens, "slides" and "notes" links will appear on top-right of card */
@media (max-width: 900px) {
  .week-note-header {
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .week-note-links a {margin-right: 15px;}
}